
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .square {
    width: 80px;
    height: 90px;
    background-color: red;
    position: relative;
  }
  