/* style.css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.game-container {
  border: 1px solid #333;
  width: 300px;
  height: 600px;
  overflow: hidden;
}

.block {
  width: 29px;
  height: 29px;
  border: 1px solid #555;
  box-sizing: border-box;
}

.occupied {
  background-color: #333;
}

