/* style.css */

.body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(188, 188, 71);
}

/*
.center{
    text-align: center;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(20, 50px);
    gap: 5px;
    border: 2px solid #333;
    width: 520px;
    height: 1020px;
  }
  
.object {
    width: 50px;
    height: 50px;
    background-color: blue;
    grid-column: 5;
    grid-row: 1;
    transition: transform 0.3s ease-in-out;
  }

.fixed{
    background-color: red;
  }
*/

.grid-container{
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(4,100px);
    gap: 0;
    border: 2px solid #333;
    padding: 10px;
}

.grid-item{
    width: 100px;
    height: 100px;
    border: 1px solid #8f3737;
    box-sizing: border-box;
}